body
{
    font-family: Arial, Sans-Serif;
}

.activeField
{
    background-image: none;
    background-color: #ffffff;
    border: solid 1px #33677F;
}

.idle
{
    border: solid 1px #85b1de;
    background-image: url( 'blue_bg.png' );
    background-repeat: repeat-x;
    background-position: top;
}

h1 {
    font-size: 20pt;
    margin-bottom: 20px;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:8px !important;
    padding-bottom:0 !important;
    height: 30px;
}
.navbar {
  min-height:30px !important;
}

.navbar-default {
  background-color: black;
  color:#ffffff;
  border-color: black;
  border-radius: 0;
}

#menu-toggle {
  margin-right: -18px;
}

#app-title {
  margin-left: -108px;
  padding-left: 0;
  margin-top: -3px;
}

#mass {
    color:#989898;
    font-size:14px;
    font-family: proxima-nova, sans-serif;
    font-weight: 900;
}

#mine {
    color:#FFFFFF;
    font-size:14px;
    font-family: proxima-nova, sans-serif;
    font-weight: 900;
}

#toolset {
  color: white;
  font-size:22px;
  font-family: proxima-nova, sans-serif;
  font-weight: bold;
  margin-left: 4px;
  font-style: italic;
}

.dropdown-toggle:active, .open .dropdown-toggle {
  background:black !important;
  color:#D8D8D8 !important;
}

.dropdown-toggle {
  color:white !important;
}

#settings {
  font-size: 25px;
  margin-top: -6px;
  padding-bottom: 6px;
  color: white;
  margin-right: -55px;
}

#sidebar-wrapper i {
    margin-left: -12px;
    margin-right: 12px;
    color: #282828;
    font-size: 20px;
    margin-bottom: -6px;
}

#sidebar-wrapper {
  background-color: #989898;
}

#sidebar-wrapper a {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

#sidebar-wrapper li {
  margin-top: 10px;
}

#sidebar-wrapper a:hover {
  color: white;
}

#wrapper {
  margin-top: 30px;
}

#data-info {
    background-color: #333366;
    color: #FFFFFF;
    border: solid 2px #787878;
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    width: 300px;
    float: right;
}

#path-view {
    color: #1E90FF;
    font-size: 18px;
}

#options ul {
  list-style-type: none;
  margin-right: 10px;
  margin-left: -75px;
}

#options li {
  margin-top: 7px;
}

#task-selector {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

input[type=submit]{
  font-size: 16px;
}

.no-input {
  display: none;
}

#results {
    border: 1px solid black;
}

#massmine-result {
    background-color: #F0F8FF;
    height: 500px;
    overflow: scroll;
    display: none;
}


#hashtags-result {
    background-color: #F0F8FF;
    height: 500px;
    overflow: scroll;
    display: none;
}

#user-mentions-result {
    background-color: #F0F8FF;
    height: 500px;
    overflow: scroll;
    display: none;
}

#time-series-result {
    height: 540px;
    display: none;
}

pre#json-renderer {
  border: 1px solid #aaa;
  padding: 0.5em 1.5em;
}
