body
{
    font-family: Arial, Sans-Serif;
}

.activeField
{
    background-image: none;
    background-color: #ffffff;
    border: solid 1px #33677F;
}

.idle
{
    border: solid 1px #85b1de;
    background-image: url( 'blue_bg.png' );
    background-repeat: repeat-x;
    background-position: top;
}

h1 {
    font-size: 20pt;
    margin-bottom: 20px;
}

#data-info {
    background-color: #333366;
    color: #FFFFFF;
    border: solid 2px #787878;
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    width: 300px;
    float: right;
}

#path-view {
    background-color: #339966;
    color: #FFFFFF;
}

#options ul {
  list-style-type: none;
  margin-right: 10px;
  margin-left: -75px;
}

#options li {
  margin-top: 7px;
}

#task-selector {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

input[type=submit]{
  font-size: 16px;
}

.no-input {
  display: none;
}

#results {
    border: 1px solid black;
}
